$background: #ffffff;
$background-gray: #f7f7f8;
// Colors
$danger: #ED4C5C;
$primary: #739BFF;
$secondary: #1953E9;
$gray: #686666;
$secondary_gray: #7A7A7A;
$third_gray:#828B96;
$fourth_gray: #999999;
$light_gray: #F1F2F4;
$gray-blue: #A0AEC0;
$fifth_gray:  #ACACAC;
$light: #fff;
$dark: #000;